@{
    ViewBag.Title = "Contact me";
}
<h2>Douglas Eduardo Silvério</h2>

<address>
    São José dos Campos, SP<br />
</address>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/douglaseduardo">linkedin.com/in/douglaseduardo</a>
</address>