@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demonstration</h1>
    <p class="lead">This is a sample aplication</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Douglas Eduardo Silvério</p>        
        <p>douglassilverio.it@gmail.com</p>
    </div>
</div>