@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly a ASP.NET MVC application sample</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Vidly is a system to rental movies managemnet.
            Nowadays we have no so much places where DVDs are rented, but it is a good scenario to implement simple 
            functionalities in order to test new frameworks and methodologies.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>What I've used</h2>
        <p>AS.NET MVC 5 / Entity framework ( First code ) / JQuery / Bootstrap</p>
        
    </div>
</div>