@model Vidly2.ViewModels.CustomerDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<ul>
    <li>
        <p>Membership Type: @Model.MembershipType</p>
        @if (Model.Birthdate != null)
        {
            <p>Birthdate: @Model.Birthdate</p>
        }
    </li>
</ul>

