@{
    ViewBag.Title = "VanHack Forum App";
}

<div class="jumbotron">
    <h1>VanHack forum</h1>
    <p class="lead">VanHack forum is a sample application built as part of the VanHack accelerator program.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requirements</h2>
        <p>Develop a simple Forum app with:</p>
        <ul>
            <li>Landing page with all Posts;</li>
            <li>Post's category;</li>
            <li>Commenting system;</li>
            <li>Login/Logout with permission to edit only owned Posts/Comments;</li>
        </ul>                                                
        
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=ifPJf9YdkP8&feature=youtu.be">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>VanHack</h2>
        <p>VanHack is a awesome company which connects top tech talents with the best companies around the world.</p>
        <p><a class="btn btn-default" href="http://www.vanhack.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About me</h2>
        <p>I am Douglas. A software engineer with 12+ experience developing solutions to big companies.</p>
        <p><a class="btn btn-default" href="http://douglassilverio.tech/">http://douglassilverio.tech/ &raquo;</a></p>        
    </div>
</div>